<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Darkness Homes</title>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
    <meta content="text/html charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div><p>Greetings! <span class="name" id="name" th:text='${name}' th:value='${name}'></span></p><br/></div>
<div class="mainContainer">
    <!-- new design is all dynamically created with JS -->
    You are in&nbsp;
    <div class="mapInfo" id="mapInfo" th:text='${mapInfo}'></div>
    The following creatures are here:&nbsp;
    <div class="npcInfo" id="npcInfo" th:text='${npcInfo}'></div>
    <input class="input" id="input" style="text-color:red" type="text" width="50px"/>
    <input id="button" onclick="variousInput()" type="button" value="GO" width="45px"/>
</div>
<script th:src="@{js/jquery-3.6.0.js}" type="text/javascript"/>
</script>
<script th:src="@{js/client-side-script.js}" type="text/javascript"/>
</script>
<link rel="stylesheet" th:href="@{css/styles.css}"/>
<script th:inline="javascript">
    /*<![CDATA[*/
     var name = /*[[${name}]]*/ 'name'
    /*]]>*/
</script>
</body>
</html>

<!-- <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>${description}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="mainContainer">
			<h1 id="desc" th:text='${description}' th:value='${description}'/><br />
			<p>Greetings! <span class="name" id="name" th:text='${name}' th:value='${name}'></span></p><br />
			<span class="location" id="location"/>
			<p>The bartender stands behind the bar, selling booze and items. His name is
			<span class="name"><tr th:each="instance : ${npcs}">
    			<td class="name" id=${instance.key}  th:text="${instance.value}" th:value="${instance.key}"></td>
			</tr></span>
			<span class="name" id="name" th:text='${npcs}' th:value='${npcs}'></span>
</p>
<p>Players in room:</p>
<span class="name"><tr th:each="instance : ${users}">
				<td class="name" id=${instance.key} th:value="${instance.key}" th:text="${instance.value}"></td>
			</tr></span>
<br /><br />
<input class="textBox" id="textBox" type="text" width="50px"/><br />
<input id="template2" type="button" onclick="variousInput();" width="15px" value="Various input" />
<input id="template" type="button" onclick="updateStatus();" width="15px" value="update test" />

<input class="textBox" id="textBox" type="text" width="50px" value="" />
<input id="template" type="button" onclick="updateStatus();" width="15px" value="update manual" />
<input id="template2" type="button" onclick="variousInput();" width="15px" value="go" />

</div>
<div class="output" id="output"></div><br />
<script type="text/javascript" th:src="@{js/jquery-3.6.0.js}" /></script>
<script type="text/javascript" th:src="@{js/client-side-script.js}" /></script>
<link rel="stylesheet" th:href="@{css/styles.css}"/>
<script th:inline="javascript">
		/*<![CDATA[*/
		 var mapName = /*[[${mapName}]]*/ 'User name';
		 var current_location = /*[[${location}]]*/ 'location';
		 var name = /*[[${name}]]*/ 'name';

		/*]]>*/
	</script>
</body>
</html> -->