<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>${description}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="mainContainer">
			<h1 id="desc" th:text='${description}' th:value='${description}'/><br />
			<p><span id="name" th:text='${name}' th:value='${name}'/></span></p><br />
			<span id="location" th:value='${location}' />
			<p>The following fellows are present:</p>
			<br />
			<tr th:each="instance : ${npcs}">
    			<td id="${instance.key}" th:value="${instance.value}" th:text="${instance.value}"></td>
			</tr>
			<p>Users in room:</p>
			<tr th:each="instance : ${users}">
				<td id="${instance.key}" th:value="${instance.value}" th:text="${instance.value}"></td>
			</tr> 
			<br />
		<input id="textBox" type="text" width="50px" value="" /><br />
		<input id="template1" type="button" onclick="variousInput();" width="15px" value="Various" />
		<input id="template2" type="button" onclick="updateStatus();" width="15px" value="updateStatus" />
	</div>
	
	
	
	<div id="output"></div><br />
    <script type="text/javascript" th:src="@{js/jquery-3.6.0.js}" /></script>
    <script type="text/javascript" th:src="@{js/client-side-script.js}" /></script>
	<link rel="stylesheet" th:href="@{css/styles.css}"/>	
	<script th:inline="javascript">
	/*<![CDATA[*/
	 	var mapName = /*[[${mapName}]]*/ 'User name';
		var current_location = /*[[${location}]]*/ 'location';
		var name = /*[[${mapName}]]*/ 'name';
	 
	/*]]>*/
	</script>	

</body>

</html>
